<app-search-bar [placeholder]="placeholder" (textChanged)="updateSearch($event)"></app-search-bar>
<div class="recommended">
  <ng-container *ngIf="!showFiltered">
    <h2 class="heading heading-lg">Bookmarked Movies</h2>
    <div class="thumb-grid mt-38">
      <app-small-thumbnail class="video" *ngFor="let video of movies" [video]="video"></app-small-thumbnail>
    </div>
  </ng-container>
  <ng-container *ngIf="showFiltered">
    <h2 class="heading heading-lg">Found {{filteredMovies.length}} result{{filteredMovies.length > 1 ? 's' : ''}} for '{{search}}'</h2>
    <div class="thumb-grid mt-38">
      <app-small-thumbnail class="video" *ngFor="let video of filteredMovies" [video]="video"></app-small-thumbnail>
    </div>
  </ng-container>
</div>
