.trending {
  margin: 0 auto 4rem;

  .wrapper {
    margin-top: 2.5rem;
    margin-right: -3.6rem;
    padding-right: 3.6rem;
    display: flex;
    overflow-x: scroll;
    scrollbar-width: none;

    &::-webkit-scrollbar {
      display: none;
    }

    .video:not(:first-child) {
      margin-left: 4rem;
    }
  }
}

.mt-32 {
  margin-top: 3.2rem;
}
